*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-weight:400;
    
}

  
body{
    background-image: url(assets/images/background-pattern-mobile.svg);
    max-width: 500px;
    height:260px;
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
    background-size: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.faq-accordian{
    padding:20px;
    flex-grow: 1;
    margin: 150px auto 0px auto;
    width:325px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px 0px 30px 0px;
}
.logo p{
    font-size: 30px;
    font-weight: 750;
    margin-left: 18px;
}
.question{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    align-items: center;
    cursor: pointer;
}

.question p{
    font-weight: 600;
    margin-right: 40px;
    font-size: 15px;
}
.question p:hover{
    color:rgb(194, 6, 194);
    
}
.minus-icon{
    display: none;
}
.answer{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.7s ease-in;
    margin:20px 0px;
    color:hsl(292, 16%, 49%);
    font-size: 15px;
    line-height: 1.5;
    margin-right: 10px;
}
.answer.active{
    max-height: 1000px;
    overflow: none;
    transition: max-height 3s linear;

}
.plus-icon.hidden{
    display: none;
}
.minus-icon.hidden{
    display: block;
}
footer{
    margin-top: auto;
    padding:10px 0px;
}
.attribute{
    text-align: center;
    font-size: 13px;
}
@media(min-width:500px){
    body{
        background-image: url(assets/images/background-pattern-desktop.svg);
        min-width: 100vw;
       
       
        
    }
    
    .faq-accordian{
        padding:30px;
        width:500px;
    }
    .question p{
        margin-right: 0px;
    }
    .answer{
        margin:15px 0px;
        
    }
    .attribute{
        font-size: 16px;
    }
}
